doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    
    meta(name='description', content='The explorer for the Ethereum blockchain')
    meta(name='author', content='bitfly')
    meta(name='keywords', content='ethereum, explorer, blockchain, etherchain, cryptocurrency, cryptocurrencies, bitcoin')
        
    title Etherchain Light
    
    link(href=config.bootstrapUrl, rel="stylesheet", crossorigin="anonymous")    
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          |  
          a.navbar-brand(href='/') Etherchain Light
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') Home
            li
              a(href='/accounts') Accounts
            li
              a(href='/tx/pending') Pending Tx
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Tools
                span.caret
              ul.dropdown-menu
                li
                  a(href='/tx/submit') Submit Tx
                li
                  a(href='/contract/verify') Verify Contract 
                li
                  a(href='/signature/verify') Verify Signature                
              
          form.navbar-form.navbar-right(action="/search", method="POST")
            .form-group
              input.form-control#search(type='text', placeholder='Block / Tx / Account', name='search')
            |  
            button.btn.btn-default(type='submit') Submit
    .container      
      block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    script.
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    
    div.container
      hr
      footer
        p  
          a(href="https://github.com/gobitfly/etherchain-light") Etherchain Light
          |  | #{nodeStatus.version} | #{nodeStatus.nbrPeers} Peers connected