extends layout

block content
  h3 Verify contract source
  form(action="/contract/verify", method="post")
    .form-group
      label(for="contractAddress") Contract address
      input.form-control#contractAddress(type="text", placeholder="0x...", name="contractAddress", value="0xe81e0fC8201008A157bdb8d0C8089ECb1B410B4e")
    .form-group
      label(for="contractName") Contract name
      input.form-control#contractName(type="text", placeholder="", name="contractName", value="DSToken")
    .form-group
      label(for="contractSource") Contract Source
      textarea.form-control#contractSource(rows=15, name="contractSource")
    .form-group
      label(for="compilerVersion") Compiler Version
      select.form-control#compilerVersion(name="compilerVersion")
        each version in versions
          option #{version.path}
    .form-group
      label.checkbox-inline
        input(type="checkbox", name="useOptimizations", checked)#useOptimizations
        | Enable Optimization
    button.btn.btn-default.pull-right(type="submit") Verify
  if message
    p #{message}